profile = ocamlformat
break-cases = nested
break-fun-decl = fit-or-vertical
break-infix = fit-or-vertical
break-separators = after
cases-exp-indent = 2
dock-collection-brackets = true
if-then-else = keyword-first
indicate-multiline-delimiters = no
infix-precedence = parens
let-binding-spacing = compact
ocp-indent-compat = true
parens-ite = false
parens-tuple = multi-line-only
parse-docstrings = true
sequence-blank-line = compact
sequence-style = separator
type-decl = sparse
wrap-comments = true
